<?xml version="1.0" encoding="UTF-8"?>
<configuration>    
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOGS_ABSOLUTE_PATH" value="./logs" />
    <property name="CONSOLE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative]  %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} %msg%n"/>
    <property name="FILE_LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] %-5level ${PID:-} --- [%15.15thread] %-40.40logger{36} : %msg%n"/>
        
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>${LOGS_ABSOLUTE_PATH}/WebApi.log</file>        
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>            
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>
       
    <logger name="org.springframework.web" level="info">       
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <!-- jdbc logging -->
    <logger name="jdbc.sqltiming" level="DEBUG" />
    <logger name="jdbc.sqlonly" level="OFF" />    
    <logger name="jdbc.audit" level="OFF" />
    <logger name="jdbc.resultset" level="OFF" />
    <logger name="jdbc.resulttable" level="DEBUG" />
    <logger name="jdbc.connection" level="OFF" />
			
	<!-- app logging -->
    <logger name="com.multi.module" level="DEBUG" />
   
    <!--logging.level.root=info-->
    <root level="info">       
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>