<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.module.config.batch.dao.ScheduleDao">

    <insert id="insertSchedul" parameterType="java.util.List">
        INSERT INTO tb_schedule(
                                id
                                , `month`
                                , `date`
                                , event
        ) VALUES(
            <foreach collection="list" item="item" index="index">
                #{item.id}
                , #{item.month}
                , #{item.date}
                , #{item.event}
            </foreach>
        )
    </insert>

</mapper>
