<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.module.config.security.dao.JoinDao">

    <insert id="saveMember" parameterType="com.multi.module.config.security.dto.JoinDto">
        <selectKey keyProperty="memSeq" resultType="int" order="BEFORE">
            SELECT
                (CASE COUNT(1) WHEN 0 THEN 0 ELSE MAX(MEM_SEQ) END) + 1
            FROM
                tb_member
        </selectKey>

        INSERT INTO tb_member
            (MEM_SEQ, MEM_NM, MEM_AUTH, MEM_PWD, MEM_EMAIL)
        VALUES(
                #{memSeq,jdbcType=INTEGER}
              , #{memNm,jdbcType=VARCHAR}
              , #{memAuth,jdbcType=VARCHAR}
              , #{memPwd,jdbcType=VARCHAR}
              , #{memEmail,jdbcType=VARCHAR}
        )
    </insert>

    <select id="existsByUsername" resultType="boolean" parameterType="com.multi.module.config.security.dto.JoinDto">
        select if(count(*) = 1, 1, 0)
        from tb_member
        where MEM_NM = #{id, jdbcType=VARCHAR}
    </select>

    <select id="findByUsername" parameterType="java.lang.String" resultType="com.multi.module.config.security.dto.JoinDto">
        SELECT MEM_SEQ, MEM_NM, MEM_AUTH, MEM_PWD, MEM_EMAIL
        FROM tb_member
        where MEM_NM = #{id, jdbcType=VARCHAR}
    </select>


</mapper>
